* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: gold;
}
body {
    display: flex;
    flex-direction: column;
}
header, footer {
    background: #090809;
    color: red;
    padding: 1rem 0;
}
header {
    flex: 0 0 auto;
}
footer {
    flex: 0 0 auto;
    text-align: center;
}
main {
    flex: 1 0 auto;
    display: flex;
    background: green;
}
.container-fluid {
    padding: 0;
}
article {
    background: #d3d3d3;
    overflow-y: auto;
}
aside {
    background: #ffffff;
    text-align: center;
}
article, aside {
    height: calc(100vh - 10% - 10%); /* Subtract header and footer height */
}
#logo img {
    max-height: 100%;
    max-width: 100%;
}
.custom-heading {
    color: red;
}
img {
    border-radius: 1%;
}
.helper {
    display: inline-block;
    width: 0%;
    height: 100%;
    vertical-align: middle;
}
aside img {
    max-width: 95%;
    max-height: 99%;
    opacity: 0;
    transition: opacity 500ms;
    vertical-align: middle;
}
main:hover aside img {
    opacity: 1;
}
section img {
    max-height: 25%;
    max-width: 25%;
    margin-top: 1%;
}
header {
    font-size: 120%;
}
a {
    text-decoration: none;
    color: red;
}
@media (min-width: 768px) {
    .article-content {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .aside-content {
        flex: 0 0 40%;
        max-width: 40%;
    }
}
#menu {
    display: none; /* Hide the menu by default */
    /* Add styling for the menu */
}

#menu-icon {
    cursor: pointer;
    /* Style the hamburger menu icon */
}
